@media screen and (min-width: 500px) {
    header h1 {
        text-align: center;
    }
    .navbar ul{
        display: flex;
    }
    .navbar ul li {
        list-style: none;
        margin-left: 15%;
        margin-right: 15%;
    }
    header, main, aside, footer {
        margin: 10px 10px 10px 10px;
        padding: 10px 10px 10px 10px;
        border-style: solid;
        border-width: 1px;
        border-color: #000000;
    }
    .maindiv {
        display: grid;
        column-gap: 30px;
        row-gap: 30px;
    }
    .sidebar {
        grid-column: 1 / span 1;
        grid-row: 2 / span 7;
    }
    .mainsec {
        grid-column: 2 / span 4;
        grid-row: 2 / span 7;
    }
    header, footer{
        grid-column: 1 / span 5;
    }
    header {
        grid-row: 1;
    }
    footer {
        grid-row: 9;
    }
}
@media screen and (max-width: 500px) {
    header h1 {
        text-align: center;
    }
    .navbar ul li {
        list-style: none;
        margin-left: 8%;
    }
    header, main, aside, footer {
        margin: 10px 10px 10px 10px;
        padding: 10px 10px 10px 10px;
        border-style: solid;
        border-width: 1px;
        border-color: #000000;
    }
    .maindiv {
        display: grid;
        column-gap: 30px;
        row-gap: 30px;
    }
    .sidebar {
        grid-row: 9;
        grid-column: 1 / span 1;
    }
    .mainsec {
        grid-row: 2 / span 7;
        grid-column: 1 / span 5;
    }
    nav {
        grid-row: 2;
        grid-column: 1 / span 5;
    }
    header {
        grid-row: 1;
        grid-column: 1 / span 5;
    }
    footer {
        grid-row: 9;
        grid-column: 2 / span 4;
    }
}

.divtwo {
    border-style: dashed;
    border-color: green;
    border-width: 4px
}

.newresultclass {
    border-style: dashed;
    border-color: purple;
    border-width: 2px;
    white-space: pre-line;
    margin-bottom: 10px;
}

.newresultclassowner {
    border-style: dashed;
    border-color: purple;
    border-width: 2px;
    white-space: pre-line;
    margin-bottom: 10px;
}